body {
	margin: 0px;
	border: 0px;
	padding: 0px;
}

.banner {
	height: 100vh;
	padding: 0;
}

.banner img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.nextPage {
	position: fixed;
	bottom: 10px;
	right: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 3;
}

.previousPage {
	position: fixed;
	top: 10px;
	left: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 3;
}

.circulo {
	background-color: #cccccc;
	border-radius: 50%;
	width: 36px;
	height: 36px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.arrow {
	width: 24px;
	height: 24px;
}

.regras {
	height: 100vh;
	display: flex;
	background-color: #d0d0d0;
}

.regras .contentBox {
	width: 100%;
	padding: 50px;
	background-color: #c0c0c0;
}

.regras .imgBox {
	width: 100%;
	background: url('../images/Mole.png');
	background-size: cover;
	background-repeat: no-repeat;
}

.tabuleiro {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #00ff00;
}

.gramado {
	width: 536px;
	height: 536px;
	background-color: #008000;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
	cursor: url('../images/hammer.png'), crosshair;
	padding: 0px;
}

.gramado img {
	padding: 25px 50px 25px 50px;
	box-sizing: content-box;
	width: 76px;
	height: 61px;
}

.pontos {
	width: 536px;
	height: 536px;
	display: flex;
	justify-content: center;
}

.pontos th {
	font-size: 50px;
	font-family: 'Bungee Spice', sans-serif;
	text-align: center;
}

.pontos td:first-child {
	text-align: right;
	font-size: 36px;
	font-family: 'Bungee Spice', sans-serif;
}

#start {
	width: 100%;
	font-size: 36px;
	border: 1px solid #000000;
}

.records {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.records table {
	border-collapse: collapse;
	font-family: 'MedievalSharp', cursive;
}

.records th {
	background-color: #000000;
	color: #ffffff;
	text-align: center;
	font-size: 36px;
	padding-left: 30px;
	padding-right: 30px;
}

.records td {
	font-size: 30px;
	padding-left: 30px;
	padding-right: 30px;
}

.records tr:nth-child(even) {
	background-color: #c0c0c0;
}

.records td:first-child,
td:nth-child(3) {
	text-align: right;
}

.records td:last-child {
	text-align: center;
}

@media (max-width: 991px) {
	/* Regras */
	.regras {
		flex-direction: column;
	}

	.regras .contentBox {
		width: unset;
	}

  .regras .imgBox {
    height: 100%;
  }

  /* Tabuleiro */
  .tabuleiro {
    flex-direction: column-reverse;
    height: 100%;
  }

  .pontos th {
    font-size: 30px;
  }

  .pontos td:first-child {
    font-size: 20px;
  }

  .gramado {
    width: 400px;
    height: 400px;
  }

  .pontos {
    width: 400px;
    height: 400px;
  }

  .gramado img {
    padding: 10px 30px 10px 30px;
  }

  /* Recordes */
  .records tr th {
    padding-left: 10px;
    padding-right: 10px;
  }

  .records th {
    font-size: 18px;
  }

  .records td {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 15px;
  }
}
